ngb-pagination ::ng-deep a {
    color:  var(--success);
  }

  ngb-pagination ::ng-deep  > li > a:focus,
  ngb-pagination  ::ng-deep > li > a:hover {
    color:  var(--success);
  }
  
  ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: dimgray;
    background-color: var(--success);
    color: white
  }
  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    
    background-color: var(--success);
    color: white
  }
  
  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    
    background-color: var(--success);
    color: white
  }