<form [formGroup]="movieDataGroup" (ngSubmit)="onSubmit()">
  <label for="movieTitle">Title: </label>
  <input id="movieTitle" type="text" formControlName="movieTitle">
  <!-- <div class="alert alert-danger" role="alert" *ngIf="noTitleInsertedFlag == true "> errore</div> -->
  <!-- <div>
    value:{{movieDataGroup.movieTitle.value}}
    </div> -->

  <button [disabled]="this.movieDataGroup.value.movieTitle == ''" type="submit">submit</button>

</form>

<table class="table">
  <tbody>
    <tr *ngFor="let movieRow of apiResponse; index as i">
      <td *ngFor="let singleMovie of movieRow" scope="row"> 
        <img [src]="'https://image.tmdb.org/t/p/w185/' + singleMovie.poster_path" (click)="this.openModal(singleMovie)" > 
      </td>
    </tr>
  </tbody>
</table>